@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.Producto1 .card, .Producto2 .card, .Producto3 .card, .Producto4 .card, .Producto5 .card, .Producto6 .card {
  margin: 0 16px 32px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: 2s; }
  .Producto1 .card:hover, .Producto2 .card:hover, .Producto3 .card:hover, .Producto4 .card:hover, .Producto5 .card:hover, .Producto6 .card:hover {
    transform: scale(1.1);
    background-color: #FFD9CE; }
  .Producto1 .card .card-link, .Producto2 .card .card-link, .Producto3 .card .card-link, .Producto4 .card .card-link, .Producto5 .card .card-link, .Producto6 .card .card-link {
    display: block;
    text-decoration: none;
    color: inherit; }
    .Producto1 .card .card-link .card-img, .Producto2 .card .card-link .card-img, .Producto3 .card .card-link .card-img, .Producto4 .card .card-link .card-img, .Producto5 .card .card-link .card-img, .Producto6 .card .card-link .card-img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover; }
    .Producto1 .card .card-link .card-body, .Producto2 .card .card-link .card-body, .Producto3 .card .card-link .card-body, .Producto4 .card .card-link .card-body, .Producto5 .card .card-link .card-body, .Producto6 .card .card-link .card-body {
      text-align: center; }
      .Producto1 .card .card-link .card-body .card-title, .Producto2 .card .card-link .card-body .card-title, .Producto3 .card .card-link .card-body .card-title, .Producto4 .card .card-link .card-body .card-title, .Producto5 .card .card-link .card-body .card-title, .Producto6 .card .card-link .card-body .card-title {
        margin: 0 0 8px;
        font-size: 18px;
        font-weight: bold; }
      .Producto1 .card .card-link .card-body .card-price, .Producto2 .card .card-link .card-body .card-price, .Producto3 .card .card-link .card-body .card-price, .Producto4 .card .card-link .card-body .card-price, .Producto5 .card .card-link .card-body .card-price, .Producto6 .card .card-link .card-body .card-price {
        margin: 0 0 8px;
        font-size: 24px;
        font-weight: bold;
        color: #333; }
      .Producto1 .card .card-link .card-body .add-to-cart-btn, .Producto2 .card .card-link .card-body .add-to-cart-btn, .Producto3 .card .card-link .card-body .add-to-cart-btn, .Producto4 .card .card-link .card-body .add-to-cart-btn, .Producto5 .card .card-link .card-body .add-to-cart-btn, .Producto6 .card .card-link .card-body .add-to-cart-btn {
        display: inline-block;
        background-color: gray;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        margin-top: 10px;
        cursor: pointer; }
        .Producto1 .card .card-link .card-body .add-to-cart-btn:hover, .Producto2 .card .card-link .card-body .add-to-cart-btn:hover, .Producto3 .card .card-link .card-body .add-to-cart-btn:hover, .Producto4 .card .card-link .card-body .add-to-cart-btn:hover, .Producto5 .card .card-link .card-body .add-to-cart-btn:hover, .Producto6 .card .card-link .card-body .add-to-cart-btn:hover {
          background-color: black;
          color: white; }

header nav div {
  background-color: white; }

.hero {
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
  background-image: url(../img/hero.png);
  width: 100%;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed; }
  .hero h1 {
    color: white;
    border: white solid 2px;
    padding: 15px;
    font-size: 2.5rem; }
    @media screen and (max-width: 1024px) {
      .hero h1 {
        font-size: 2rem; } }
    @media screen and (max-width: 768px) {
      .hero h1 {
        font-size: 1.5rem; } }

.marcas {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  background-color: gray; }

.cabeceraProductos {
  display: flex;
  font-family: 'Montserrat Alternates', sans-serif;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px; }

.cards-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 15px; }
  .cards-container .card {
    margin: 0 16px 32px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: 2s; }
    .cards-container .card:hover {
      transform: scale(1.1);
      background-color: #D7DEDC; }
    .cards-container .card .card-link {
      display: block;
      text-decoration: none;
      color: inherit; }
      .cards-container .card .card-link .card-img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover; }
      .cards-container .card .card-link .card-body {
        text-align: center; }
        .cards-container .card .card-link .card-body .card-title {
          margin: 0 0 8px;
          font-size: 18px;
          font-weight: bold; }
        .cards-container .card .card-link .card-body .card-price {
          margin: 0 0 8px;
          font-size: 24px;
          font-weight: bold;
          color: #333; }
        .cards-container .card .card-link .card-body .add-to-cart-btn {
          display: inline-block;
          background-color: gray;
          color: white;
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          margin-top: 10px;
          cursor: pointer; }
          .cards-container .card .card-link .card-body .add-to-cart-btn:hover {
            background-color: black;
            color: white; }

.nuevoLocal {
  text-align: center; }
  .nuevoLocal iframe {
    width: 100%;
    height: 250px; }
  .nuevoLocal .action {
    color: white;
    background-color: #011627; }

.profesionales {
  font-family: 'Montserrat Alternates', sans-serif;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px; }
  .profesionales .profesional {
    flex-basis: 30%;
    text-align: center; }
    .profesionales .profesional .imagen {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      overflow: hidden;
      margin: 0 auto;
      transition: 1s; }
      .profesionales .profesional .imagen:hover {
        transform: scale(1.1); }
    .profesionales .profesional h3 {
      margin-top: 10px; }
    .profesionales .profesional p {
      margin: 5px 0; }

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "Nav Producto1 Producto2" "Nav Producto3 Producto4" "Nav Producto5 Producto6";
  margin-top: 10px; }
  .container .Nav {
    grid-area: Nav; }
    .container .Nav .categorias ul li {
      list-style: none; }
    .container .Nav .categorias .galardones {
      display: flex;
      flex-direction: column; }
      .container .Nav .categorias .galardones img {
        width: 120px;
        height: 120px; }

.Producto1 {
  grid-area: Producto1; }

.Producto2 {
  grid-area: Producto2; }

.Producto3 {
  grid-area: Producto3; }

.Producto4 {
  grid-area: Producto4; }

.Producto5 {
  grid-area: Producto5; }

.Producto6 {
  grid-area: Producto6; }

.sucursal {
  background-color: #011627;
  color: #FFD9CE;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center; }

.sucursalInvert {
  background-color: #6D4C3D;
  color: #FFD9CE;
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
  justify-content: space-evenly;
  align-items: center; }

.botonderaizq {
  background: #6D4C3D;
  color: black;
  border: 2px solid #6d4c3d00;
  padding: 10px 20px;
  border-radius: 6px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  text-decoration: none; }

.botonderaizq:hover {
  color: #fff; }

.botonderaizq::after {
  content: "";
  background: black;
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s; }

.botonderaizq:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s; }

.botonderaizq:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s; }

/*Main--Turnos*/
.formulario {
  margin-top: 10px; }
  .formulario h2 {
    text-align: center; }
  .formulario div {
    display: flex;
    text-align: center;
    margin: 10px;
    align-items: center; }
    .formulario div select {
      background-color: #011627;
      color: white;
      border-radius: 10px; }

/*Main--Galeria*/
.containerGaleria {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "galeria1 galeria1 galeria1 Galeria2 Galeria2" "galeria1 galeria1 galeria1 Galeria2 Galeria2" "galeria3 galeria4 galeria5 galeria6 galeria7" "galeria9 galeria9 galeria8 galeria8 galeria8" "galeria9 galeria9 galeria8 galeria8 galeria8"; }

.galeria1 {
  grid-area: galeria1;
  background-image: url(../img/corte7.png);
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover; }

.Galeria2 {
  grid-area: Galeria2;
  background-image: url(../img/corte8.png);
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover; }

.galeria3 {
  grid-area: galeria3;
  background-image: url(../img/corte1.png);
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover; }

.galeria4 {
  grid-area: galeria4;
  background-image: url(../img/corte2.png);
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover; }

.galeria5 {
  grid-area: galeria5;
  background-image: url(../img/corte3.png);
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover; }

.galeria6 {
  grid-area: galeria6;
  background-image: url(../img/corte4.png);
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover; }

.galeria7 {
  grid-area: galeria7;
  background-image: url(../img/corte5.png);
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover; }

.galeria8 {
  grid-area: galeria8;
  background-image: url(../img/corte10.png);
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover; }

.galeria9 {
  grid-area: galeria9;
  background-image: url(../img/corte9.png);
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover; }

footer {
  font-family: 'Montserrat Alternates', sans-serif;
  background-color: #D7DEDC;
  padding: 20px; }
  footer .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: center; }
    footer .footer-container .logo-column {
      text-align: center; }
      footer .footer-container .logo-column img {
        margin-bottom: 10px; }
    footer .footer-container .menu-column {
      text-align: center; }
      footer .footer-container .menu-column .navigation-menu {
        list-style-type: none;
        padding: 0;
        margin: 0; }
        footer .footer-container .menu-column .navigation-menu li {
          display: inline-block;
          margin-right: 10px; }
          footer .footer-container .menu-column .navigation-menu li a {
            text-decoration: none;
            color: #333; }
            footer .footer-container .menu-column .navigation-menu li a:hover {
              text-decoration: underline; }
  footer .copyright {
    background-color: black;
    color: #FDFFF7;
    text-align: center;
    margin-top: 20px; }

@media (max-width: 376px) {
  .footer-container {
    grid-template-columns: 1fr;
    grid-gap: 10px; }
    .footer-container .logo-column,
    .footer-container .menu-column {
      text-align: center; } }
