@media (max-width: 376px) {
    .footer-container {
        grid-template-columns: 1fr;
        grid-gap: 10px;
        .logo-column,
        .menu-column {
        text-align: center;
        }
    }
}

@media (max-width: 376px){
    .inauguracion{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        iframe{
            display: block;
        }
    }
}